.intro-card {
    display: grid;
    grid-template-rows: 96px 48px 48px 1fr;
    grid-template-columns: 1fr;
    border-radius: 20px 20px 16px 16px;
    background-color: white;
    max-width: 348px;
    position: absolute;
    top:100px;
    left:10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.education-card {
    display: grid;
    grid-template-rows: 96px 48px 48px 1fr;
    grid-template-columns: 1fr;
    border-radius: 20px 20px 16px 16px;
    background-color: white;
    max-width: 348px;
    position: absolute;
    top:100px;
    right:10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.employment-card {
    display: grid;
    grid-template-rows: 96px 48px 48px 1fr;
    grid-template-columns: 2fr;
    border-radius: 20px 20px 16px 16px;
    background-color: white;
    max-width: 768px;
    width:768px;
    height: 240px;
    position: absolute;
    top:440px;
    left:10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.background{
    grid-row: 1/ 3;
    grid-column: 1/ -1;   
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.employment-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.avatar-picture{
    grid-row: 2/ 4;
    grid-column: 1 / -1;
    padding: 0 24px;
    z-index: 1;
    padding-right: 0px;
}

.profile-name, .school-name, .employment{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin: 16px 0px 8px 0px;

}

.school-name {
    margin: 10px 0px 8px 0px;
}

.employment{
    margin: 10px 0px 8px 0px;
}



.avatar-picture img{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.content , .school-content{
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    padding: 0px 24px 24px 24px;
}

.school-content {
    grid-row: 3 / 5;
    padding: 0px 24px 24px 24px;
}

.employment-content {
    grid-row: 2 / 5;
    padding: 0px 24px 24px 24px;
}